header {
	margin: auto;
	margin-top: 10px;
	font-size: 2em;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	padding-bottom: 2em;
	max-width: 100%;
	background-color: rgb(245, 249, 247);
}

.card {
	background-color: rgb(228, 228, 105);
	box-shadow: 6px 10px 5px grey;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
	box-sizing: border-box;
}

form {
	display: grid;
	grid-template-areas:
		"header header header header header"
		"checkbox answer answer answer ."
		"checkbox answer answer answer ."
		"checkbox answer answer answer ."
		"checkbox answer answer answer ."
		"userid footer footer footer . ";
	grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
	grid-template-rows: 2fr repeat(4, 1fr), 1fr;
	row-gap: 20px;
}

.question {
	grid-area: header;
	justify-self: center;
	align-self: end;
	width: 100%;
	padding-left: 5vh;
	padding-right: 5vh;
	margin-top: 10px;
	box-sizing: border-box;
}

.checkbox {
	grid-area: checkbox;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	row-gap: 10px;
}

.answer {
	grid-area: answer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 2px;
	padding-bottom: 2px;
	row-gap: 10px;
}

.userid > label {
	display: inline;
}

.userid > input {
	width: 20%;
	border: 1px;
	border-radius: 4px;
	/* height: 3ch; */
	display: inline;
}

.userid {
	display: flex;
	grid-area: userid;
	align-items: flex-end;
}

.footer {
	grid-area: footer;
}

.card input[type="radio"] {
	float: right;
	align-self: end;
}
/*
input[type="radio"]:checked {
	border: 6px solid black;
} */

.card input[type="text"] {
	width: 100%;
	border: 1px;
	border-radius: 4px;
	/* height: 3ch; */
	display: block;
}
.card input[type="submit"] {
	width: 100%;
	border: 0px;
	border-radius: 4px;
	margin-top: 10px;
	background-color: #007bff;
	height: 3ch;
	grid-area: footer;
}

html {
	width: 100%;
	height: 100%;
}
